extends base

block content
    main.lab-code
        .code-header 
            button.code-header-btn.back-btn(onclick="window.history.back()") 
                img(src="/icons/back.png", alt="copy")
            h1 #{code.title}
            .code-header-btns
                if user && user.role=="admin"
                    button.code-header-btn.code-delete-btn(data-id=`${code._id}` data-lab=`${code.lab._id}`)
                        img(src="/icons/delete.png", alt="delete")
                button.code-header-btn.code-copy-btn
                    img(src="/icons/copy.png", alt="copy")
                button.code-header-btn.code-info-btn
                    img(src="/icons/info.png", alt="info")
        .code-info.animate__animated.animate__fadeIn
            p Uploaded By: #{code.uploader.name}
            p Uploaded On: #{code.uploadedAt.toLocaleDateString()} at #{code.uploadedAt.toLocaleTimeString({}, { hour12: true, hour: 'numeric', minute: 'numeric' })}
            p Last Edited On: #{code.lastEdited.toLocaleDateString()} at #{code.lastEdited.toLocaleTimeString({}, { hour12: true, hour: 'numeric', minute: 'numeric' })}

        .edit-container.animate__animated.animate__fadeIn
            form.editCode-form(data-id=`${code._id}`)
                h3 Update Code
                .form-control
                    input(type='text' placeholder='Title' class='ecode-title' value=`${code.title}` required)
                .form-control
                    select(name="code-lab" class='ecode-lab' required)
                        each lab in labs
                            option(value=lab._id selected=(lab.id == code.lab))=lab.name
                pre 
                    code.ecode-container.language-plaintext(contenteditable="true") #{code.code} 

                .form-control
                    button(type='submit' class='updateCode-btn') Update